.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-block;
  height: 4rem;
}

#status_scanning-map {
  width: 100%;
}

.full-screen {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  /*background-color: blue;*/
}

body, html, #app, #app-base {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.v-middle {
  display: flex;
  align-items: center;
}

.btn-wrap {
  white-space:normal !important;
  word-wrap:break-word; 
}
