[submodule "packages/bootstrap"]
	path = packages/bootstrap
	url = git@github.com:marvinmarnold/bootstrap.git
[submodule "packages/cordova-plugin-telephony"]
	path = packages/cordova-plugin-telephony
	url = git@github.com:marvinmarnold/cordova-plugin-telephony.git
[submodule "packages/cordova-HTTP"]
	path = packages/cordova-HTTP
	url = git@github.com:wymsee/cordova-HTTP.git
[submodule "packages/cordova-toforeground"]
	path = packages/cordova-toforeground
	url = git@github.com:Diusrex/cordova-toforeground.git
