node_modules/
packages/bootstrap
scripts
settings
.meteor/local
packages/meteor-imsi-catcher-catcher
packages/meteor-device-id
packages/cordova-plugin-telephony
packages/meteor-reactive-local-store
settings.json
