@mixin bg-img($name, $path) {
  #{$name} {
    height: 100%;
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url($path);
  }
}

@include bg-img('.intro-2-portrait', "/intro-slides/nopd-portrait.jpg");
@include bg-img('.intro-2-landscape', "/intro-slides/nopd-landscape.jpg");

@include bg-img('.intro-3-portrait', "/intro-slides/stingray-portrait.jpg");
@include bg-img('.intro-3-landscape', "/intro-slides/stingray-landscape.jpg");

@include bg-img('.intro-4-portrait', "/intro-slides/imsi-catcher-portrait.jpg");
@include bg-img('.intro-4-landscape', "/intro-slides/imsi-catcher-landscape.jpg");

@include bg-img('.intro-5-portrait', "/intro-slides/change-portrait.jpg");
@include bg-img('.intro-5-landscape', "/intro-slides/change-landscape.jpg");

@include bg-img('.intro-ending-portrait', "/intro-slides/cameras-portrait.jpg");
@include bg-img('.intro-ending-landscape', "/intro-slides/cameras-landscape.jpg");

.intro-text {
  color: #fff;
}
