/*#dangerMap {
  height: 12rem;
}

.watching-logo {
  height: 9rem;
}*/

.main-action {
  height: 20rem;
}

.main-action-watching {
  background-image: url("/status/nola.jpg");
  background-size:   cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 !important;
  margin: 0 !important;
}

.main-action-watching-subtitle {
  color: #fff;
}

.main-action-radar {
  max-height: 12rem;
}

.title-bar {
  height: 4rem;
  display: inline-block;
  vertical-align: middle;
}
