html, body, #react-root {
  height: 100%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.v-middle {
  display: flex;
  align-items: center;
}

.simple-logo {
  max-height: 15rem;
}
